/* Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap');

/* Asterisk wildcard selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    color: white;
    font-family: "Open Sans", sans-serif;
}

/* Header */
header {
    background-color: rgb(234, 231, 231);
    width: 100%;
    box-shadow: 0 1px 3px rgb(96, 95, 95);
    text-align: center;
    position: fixed;
    z-index: 99;
    display: block;
    justify-content: space-between;
    align-items: flex-start;
    padding-top: 20px;
}

header>a {
    text-decoration: none;
    color: rgb(96, 95, 95);
    text-shadow: 0 0 0.5px;
}

h1 {
    font-family: "Julius Sans One", sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.5rem;
}

/* Nav Bar */
#menu {
    list-style-type: none;
    font-size: 120%;
    letter-spacing: 2px;

}

#menu a {
    text-decoration: none;
    color: white;
}

#menu>li {
    margin-bottom: 10px;
}

.active {
    border-bottom: 1px solid white;
}

/* Nav bar styles for dropdown menu */
nav {
    position: absolute;
    width: 100%;
    background-color: rgb(96, 95, 95);
    padding: 15px 0 8px 20px;
    box-shadow: 1px 1px 3px rgb(231, 226, 226);
    text-align: left;
    height: 160px;
    display: none;
}

/* Nav toggle */
#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 25px;
    color: black;
}

/* Main Content */
main {
    /* Make main element take up surplus space to push footer down */
    flex: 1 0 auto;
    margin-top: 123px;
    background-color: rgb(96, 95, 95);
    color: white;
    width: 100%;
}

/* Main Section div */

#main-image>img {
    height: auto;
    width: 100%;
}

#main-text {
    padding: 8px;
    margin: 2rem 0 2rem 0;
}

#main-text >h2 {
    padding-bottom: 1.5rem;
}

#index-base-image>img {
    height: auto;
    width: 100%;
}


/* Main Section heading */
.index-page-headings {
    text-align: center;
    font-family: "Julius Sans One", sans-serif;
}

.main-paragraphs {
    padding: 5px 1rem;
    text-align: center;
}

.main-paragraphs a {
    color: white;
}

.main-paragraphs a:hover {
    background-color: white;
    color: rgb(96, 95, 95);
}

/* Main section Quote */
#quote-wrap {
    padding: 5px 10px;
    margin: 1rem 0 1rem 0;
}

.quote {
    font-style: italic;
    font-size: small;
    text-align: center;
}

/* About page */

#about-page h2 {
    font-family: "Julius Sans One", sans-serif;
    text-align: center;
    margin: 1.2rem 0;
    padding: 10px;
    text-transform: uppercase;
    text-decoration: underline;
    line-height: 25px;
}

#about-us> h2 {
    font-style: italic;
    font-family: "Julius Sans One", sans-serif;
    font-size: large;
    padding: 10px;
    margin: 1.2rem 0;
}
#about-us2 {
    width: 94%;
    margin: 45px 0 45px 10px;
    text-align: center;
    padding: 2rem ;
    background-color: rgb(234, 231, 231);
    color: black;
}

#about-page-section,
#our-services-section {
    color: white;
    background-color: rgb(96, 95, 95);
    width: 92%;
    text-align: center;
    text-align: center;
    padding: 15px ;
    margin: 45px 10px;
}

#our-services-section li {
    list-style-type: none;
}

.about-page-link a {
    color: white;
}

.about-page-link a:hover {
    background-color:white ;
    color: rgb(96, 95, 95);
}

#about-page-image>img {
    height: auto;
    width: 96%;
    padding: 15px 0px 15px 15px;
}

/* Gallery page */
/* Push photos off the outside of the div */
#photos {
    line-height: 0;
    padding: 10px;
}

#photos img {
    padding: 7.5px 0 7.5px 0;
    width: 100%;
}

/* Contact page */

/* Background image for contact page */
#contact-page {
    background-image: url(../images/main-pic.jpg);
    background-position: center;
    background-size: cover;
    height: 100%;
}

#contact-form {
    font-family: "Open Sans", sans-serif;
    font-size: 1.5rem;
    font-weight: 200;
    color: white;
    text-align: left;
    margin: 40px 30px 40px 30px;
    padding: 15px;
    box-shadow: 2px 2px 2px 2px;
    border-radius: 10px;
    width: 80%;
    line-height: 40px;
    background-color: rgb(96, 95, 95, 0.6); 
}

/* form submission page */
#feedback-pages {
    background-image: url(..//images/main-pic.jpg);
    background-position: center;
    background-size: cover;
    height: 100%;
    width: 100%;
}

#feedback-pages h2 {
    text-align: center;
    width: 100%;
    padding-top: 1rem;
    background-color: rgb(96, 95, 95, .7);
    margin-top: 20px;
}

/* Footer */
#footer-div {
    background-color: rgb(233, 231, 234);
}

#footer-div> p {
    color: rgb(96, 95, 95);
    text-align: center;
    font-size: large;
    padding: 5px 0 15px 0;
    text-decoration: ;
}

#footer-links {

    text-align: center;
    display: flex;
    justify-content: space-evenly;
    padding: 18px 0 18px 0;
    list-style-type: none;
    font-size: 30px;
}

.fa-brands fa-youtube {
    color: rgb(96, 95, 95);
}

/* Media Query: large or landscape phones (576px and up) */
@media screen and (min-width:576px) {

    /* Gallery page - Add 2 colums for photos */
    #about-page-section,
    #our-services-section,
    #about-us2 {
        width: 96%;
    }

    #photo-gallery {
        width: 100%;
    }

    #photos {
        column-count: 2;
        width: 100%;
    }
}

/* Media Query: Tablets and larger (768px and up) */
@media screen and (min-width:768px) {

    /* Header */
    nav {
        display: block;
        position: relative;
        width: 100%;
        height: 70px;
        margin-top: 10px;
    }

    #menu {
        display: flex;
        justify-content: space-evenly;
    }

    #menu>li {
        font-size: x-large;
    }

    .nav-toggle-label {
        display: none;
    }

    #logo {
        font-size: 300%;
    }

    main {
        /* To push main content down and make visilbe on larger screen*/
        margin-top: 204px;
    }

    /* Footer */
    /* Make icons larger */
    
    #footer-links {
        font-size: 45px;
    }

    /* About us page */
    #about-page-section,
    #our-services-section, 
    #about-us2,   
    #about-page-image {
        width: 97%;
    }

    /* Contact page */

    #contact-page {
        background-image: url(..//images/main-pic.jpg);
        background-position: center;
        background-size: cover;
        height: 100%;
    }

    #contact-form {
        font-size: 1.5rem;
        font-weight: 200;
        margin: 100px 40px 70px 100px;
        padding: 25px;
        border-radius: 10px;
        width: 60%;
        line-height: 3rem;
    }

    #contact-reason {
        width: 50%;
        font-size: large;
        margin: 10px 0;
    }

    #comment {
        width: 50%;
        height: 12rem;
        margin: 10px 0;
    }

    #newsletter {
        transform: scale(2);
        margin-left: 10px;
    }

    .form-box {
        width: 50%;
        height: 30px;
        margin: 10px 0;
    }

    /* Gallery page */
    #photos {
        column-count: 3;
    }
}

/* Media Query: Laptops and larger (992px and up) */
@media screen and (min-width:992px) {

    /* Header */
    #menu a:hover {
        border-bottom: 1px solid white;
    }

     /* About us page */
     #about-page-section,
     #our-services-section, 
     #about-us2,   
     #about-page-image {
         width: 99%;
     }
 
/* Gallery page */
    #photos {
        column-count: 4;
    }
}