/* Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap');
/* Asterisk wildcard selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    color: white;
    font-family: "Open Sans", sans-serif;
}

/* Header */
header {
background-color: rgb(231, 226, 226);
width: 100%;
box-shadow: 0 1px 3px rgb(96, 95, 95);
text-align: center;
position: fixed;
z-index: 99.9;
display: block;
justify-content: space-between;
align-items: flex-start;
padding-top:20px;
}
header > a {
    text-decoration:none;
    color: black ;
    text-shadow:  0 0 0.5px;
}

h1 {
    font-family:"Julius Sans One", sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.5rem;
}

/* Nav Bar */
#menu {
list-style-type: none;
font-size: 120%;
letter-spacing: 2px;

}

#menu a {
    text-decoration: none;
    color: white;
}

#menu >li {
    margin-bottom: 10px;
}
.active {
    border-bottom: 1px solid white;
}

/* Nav bar styles for dropdown menu */
nav {
    position: absolute;
    width: 100%;
    background-color: rgb(96, 95, 95);
    padding: 15px 0 8px 20px;
    box-shadow: 1px 1px 3px rgb(231, 226, 226);
    text-align: left;
    height: 130px;
    display: none;
}

/* Nav toggle */
#nav-toggle:checked~nav {
    display:block ;
}
#nav-toggle {
    display: none;
}
.nav-toggle-label {
    font-size: 25px;
    color: black;
}

/* Main Content */
main {
    background-color: rgb(8, 172, 172);
    /* Make main element take up surplus space to push footer down */
    flex: 1 0 auto;
    /* To push main content down and make visilbe */
    margin-top: 123px;
}

/* Footer */
footer {
    background-color: rgb(170, 42, 151);
}

/* Media Query: Tablets and larger (768px and up) */
@media screen and (min-width:768px) {
    /* Header */
    nav {
        display: block;
        position: relative;
        width: 100%; 
        height:70px;  
        margin-top: 10px;     
    }
    #menu {
        display: flex;
        justify-content: space-evenly;

    }
    #menu > li {
        font-size: x-large;
    }
    .nav-toggle-label {
        display: none;
    }
    #logo {
        font-size: 300%;
 
    }

    main {
        /* To push main content down and make visilbe on larger screen*/
        margin-top: 204px;
    }
}